<IfModule mod_rewrite.c>
   RewriteEngine on
   #RewriteBase F:/Proyectos/Webs/cakephp/app
   #RewriteBase /app/
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule ^index\.php/(.*)$ app/webroot/$1 [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>