<IfModule mod_rewrite.c>
    RewriteEngine on
    #RewriteBase F:/Proyectos/Webs/cakephp/app
    #RewriteBase /app/webroot/
    RewriteRule    ^$    webroot/    [L]
    #RewriteRule ^index\.php/(.*)$ webroot/$1 [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>